/* 404.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f1f1f1;
}

h1 {
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

p {
  color: #555;
  text-align: center;
}
